{% extends "ddl/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add Task</h2>
  <script src="jquery.js"></script>
{% endblock header %}

{% block content %}

        <script>
           function YYYYMMDDstart()   
           {
               MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];   
               var y  = new Date().getFullYear();   
               for (var i = (y-30); i < (y+30); i++)  
                       document.reg_testdate.YYYY.options.add(new Option(" "+ i +" Year", i));   
        
               for (var i = 1; i < 13; i++)   

                       document.reg_testdate.MM.options.add(new Option(" " + i + " Month", i));   
        
               document.reg_testdate.YYYY.value = y;   
               document.reg_testdate.MM.value = new Date().getMonth() + 1;   
               var n = MonHead[new Date().getMonth()];   
               if (new Date().getMonth() ==1 && IsPinYear(YYYYvalue)) n++;   
                    writeDay(n);
               document.reg_testdate.DD.value = new Date().getDate();   
           }   
           if(document.attachEvent)   
               window.attachEvent("onload", YYYYMMDDstart);   
           else   
               window.addEventListener('load', YYYYMMDDstart, false);   
           
           function YYYYDD(str)
           {   
               var MMvalue = document.reg_testdate.MM.options[document.reg_testdate.MM.selectedIndex].value;   
               if (MMvalue == ""){ var e = document.reg_testdate.DD; optionsClear(e); return;}   
               var n = MonHead[MMvalue - 1];   
               if (MMvalue ==2 && IsPinYear(str)) n++;   
                    writeDay(n)   
           }   
           function MMDD(str)
           {
                var YYYYvalue = document.reg_testdate.YYYY.options[document.reg_testdate.YYYY.selectedIndex].value;   
                if (YYYYvalue == ""){ var e = document.reg_testdate.DD; optionsClear(e); return;}   
                var n = MonHead[str - 1];   
                if (str ==2 && IsPinYear(YYYYvalue)) n++;   
                writeDay(n)   
           }   
           function writeDay(n)
           {   
               var e = document.reg_testdate.DD; optionsClear(e);   
               for (var i=1; i<(n+1); i++)   
                    e.options.add(new Option(" "+ i + " Date", i));   
           }   
           function IsPinYear(year)
           {     return(0 == year%4 && (year%100 !=0 || year%400 == 0));}   
           function optionsClear(e)   
           {   
                e.options.length = 1;   
           }

  
        </script>
        
    <form name="reg_testdate" action = "{% url 'ddl:new_group_task' group.id %}" method = 'post'>
        {% csrf_token %}

		<div class="form-group">
		  <label class="control-label" for="id_name">Task Name:</label>
		  <input type="text" name="title" class="form-control" placeholder="Task Name" required id="id_title" />
		</div>
		
		<div class = "form-group">
		  <label class="control-label" for="id_name">Deadline:</label> &nbsp
	    
          <select id="YYYY" name="YYYY" onchange="YYYYDD(this.value)" required id = "id_YYYY">
            <option value="">Choose Year</option>
          </select> &nbsp
          <select id="MM" name="MM" onchange="MMDD(this.value)" required id = "id_MM">
            <option value="">Choose Mouth</option>
          </select> &nbsp
          <select id="DD" name="DD" required id = "id_DD">
            <option value="">Choose Date</option>
          </select>
		  <br>
		  
		  <label class="control-label" for="id_name">Member:</label>
		  <select id="UserID" name="UserID" required id = "id_UserID">
			{% for user in group.member.all %}
			  <option value="{{ user.myuser.number }}">{{ user.myuser.number }} {{ user.myuser.name }}</option>
			{% endfor %}
          </select>
		  <br>
		  
		  <label class="control-label" for="id_name">Content:</label>
          <input type="text" name="tag" value="False" required id = "id_tag" style="visibility:hidden"></input>
          <input type="text" name="date_ended" value="2018-01-01" required id = "id_date_ended" style="visibility:hidden"></input>
        
		  <div class="form-group">
		    <textarea name="text" cols="80" rows="10" class="form-control" title="" required id="id_text"></textarea>
		  </div>
		</div>
		
        <button name = 'submit'>Add</button>
      </div>
	</form>
{% endblock content %}
