{% extends "ddl/base.html" %}


{% block header %}
  <h2>My Task</h2>
{% endblock header %}

{% block content %}

   <a href = "{% url 'ddl:new_entry' %}">add new task</a>
   <br>
    <div class = "container">
      <div class = "intro">
      
  <h3>Unfinished</h3>

    </div>
    <div>
    
  {% for todo in todos %}
	<div class = "panel panel-default">
	  <div class = "panel-heading">
      <span style="float: right">
            <a href="{% url 'ddl:delete_entry' todo.id %}">X</a>
        </span>
	    <h3>
		      <a href = "{% url 'ddl:edit_entry' todo.id %}">{{ todo.date_ended|date:'Y-n-d' }}   {{todo.title}}</a>
      </h3>
    </div>
	  <div class = "panel-body">
      <h4>
	    {{ todo.text|linebreaks }}
      </h4>
          <p align="right">
            <a href="{% url 'ddl:finish_entry' todo.id %}">finish task</a>
          </p>
	  </div>
	</div><!-- panel -->
  {% empty %}
	There are no tasks for this part yet.
  {% endfor %}
  <div class = "intro">
    <h3>Finished</h3>
  </div>

  {% for finished in finisheds %}
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <span style="float: right">
            <a href="{% url 'ddl:delete_entry' finished.id %}">X</a>
        </span>
        <h3>
            <a href = "{% url 'ddl:edit_entry' finished.id %}">{{ finished.date_ended|date:'Y-n-d' }} {{finished.title}}</a>
          
        </h3>
      </div>
      <div class = "panel-body">
        <h4>
          {{ finished.text|linebreaks }}
        </h4>
        <p align="right">
          <a href="{% url 'ddl:finish_entry' finished.id %}">finish task</a>
        </p>
          
      </div>
    </div><!-- panel -->
  {% empty %}
    There are no tasks for this part yet.
  {% endfor %}
 
  
{% endblock content %}