{% extends "ddl/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2 style="display: inline;"> 
    {{group.name}}
  </h2>
  {% if user == group.leader %}
  <small>
    <a href = "{% url 'users:change_group_name' group.id 1 %}"> edit </a>
  </small>
  {% endif %}
{% endblock header %}

<!--
<style type="text/css">
  p {text-indent: 1cm}
</style>
-->

{% block content %}
  {% if user == group.leader %}
    <div style = "text-align:right;">
      <small>
        <a href = "{% url 'users:change_member' group.id 1 %}"> Edit </a>
      </small>
    </div>
  {% endif %}


  <table class="table">
	<thead>
		<tr>
			<th> User-ID </th>
			<th> User Name </th>
			<th> User type </th>
		</tr>
	</thead>

	<tbody>
	  <tr>
	    <td> {{group.leader.myuser.number}} </td>
		<td> {{group.leader.myuser.name}} </td>
		<td> Leader </td>
	  </tr>
	</tbody>
	
	<tbody>
		{% for user in group.member.all %}
		  {% if user != group.leader %}
  		    <tr>
		      <td> {{ user.myuser.number }} </td>
			  <td> {{ user.myuser.name }} </td>
			  <td>  Member </td>
		    </tr>
		  {% endif %}
		{% endfor %}
	</tbody>
  </table>
  
  {% if user == group.leader %}
    <a href = "{% url 'ddl:new_group_task' group.id %}">Add new task</a>
  {% endif %}
  <br>
   
  <h3>Unfinished</h3>
    
  {% for todo in todos %}
	<div class = "panel panel-default">
	  <div class = "panel-heading">
<!--        <span style="float: right">
            <a href="{% url 'ddl:delete_entry' todo.id %}">X</a>
        </span> -->
	    <h3>
		  <a href = "{% url 'ddl:edit_entry' todo.id %}">
		    {{ todo.date_ended|date:'Y-n-d' }}   
			{{todo.title}}
	      </a>
		  [{{ finished.owner.myuser.name }}]
		  <button type="button" class="close" aria-label="Close" onclick="window.location.href='{% url 'ddl:delete_entry' todo.id %}'"><span aria-hidden="true">×</span></button>
        </h3>
    </div>
	  <div class = "panel-body">
      <h4>
	    {{ todo.text|linebreaks }}
      </h4>
          <p align="right">
            <a href="{% url 'ddl:finish_entry' todo.id group.id %}">finish task</a>
          </p>
	  </div>
	</div><!-- panel -->
  {% empty %}
	There are no tasks for this part yet.
  {% endfor %}
  <div class = "intro">
    <h3>Finished</h3>
  </div>

  {% for finished in finisheds %}
    <div class = "panel panel-default">
      <div class = "panel-heading">
<!--        <span style="float: right">
            <a href="{% url 'ddl:delete_entry' finished.id %}">X</a>
        </span> -->
        <h3>
            <a href = "{% url 'ddl:edit_entry' finished.id %}">
			  {{ finished.date_ended|date:'Y-n-d' }}
			  {{finished.title}}
			</a>
		    [{{ finished.owner.myuser.name }}]
			<button type="button" class="close" aria-label="Close" onclick="window.location.href='{% url 'ddl:delete_entry' finished.id %}'"><span aria-hidden="true">×</span></button>
        </h3>
      </div>
      <div class = "panel-body">
        <h4>
          {{ finished.text|linebreaks }}
        </h4>
          
      </div>
    </div><!-- panel -->
  {% empty %}
    There are no tasks for this part yet.
  {% endfor %}

  
{% endblock content %}